<!-- Seccion Hero -->
<section class="hero align-items-stretch">
    <div class="hero-principal">
        <img class="hero-img-desarrollador" src="/images/emiLow.jpg" alt="Imagen de perfil de Emiliano Ramos">
        <h1>Hola, soy Emiliano Ramos</h1>
        <h2>Desarrollo sitios web. Soy diseñador gráfico y modelador 3D.</h2>
    </div>
    <div class="hero-inferior">
        <img class="hero-inferior-imagen img-fluid" src="/images/language-programming2.jpg"
            alt="iconos de los lenguajes de programacion">
    </div>
</section>

<!-- Sobre mi -->
<section id="sobre-mi" class="sobre-mi seccion-oscura">
    <div class="contenedor">
        <h2 class="seccion-titulo">Un poco de mi historia</h2>
        <p class="seccion-texto">
            ¡Hola! Soy Emi, diseñador gráfico especializado en diseño de páginas web.
            <br>Actualmente estoy
            perfeccionando mis habilidades estudiando desarrollo web, porque creo que siempre hay algo nuevo por
            aprender.
            <br>
            <br>Mi camino comenzó en el arte tradicional, explorando técnicas y estilos, hasta que descubrí el
            fascinante mundo del arte digital, que amplió aún más mi creatividad.
            <br>
            <br>Estudié en la Universidad del Arte en Buenos Aires y, además del diseño web, soy modelador 3D. Me
            apasiona combinar creatividad y tecnología para crear experiencias visuales únicas y funcionales.
            <br>
            <br>Si tenés una idea en mente, ¡me encantaría charlar y trabajar juntos para hacerla realidad!
        </p>
    </div>
</section>


<!-- Mis trabajos -->
<section class="experiencia seccion-clara">
    <h2>EN QUE PODEMOS TRABAJAR JUNTOS?</h2>
    <div class="container text-center">
        <div class="row">
            <!-- Paginas web -->
            <div class="columna col-12 col-md-4">
                <i class="bi bi-laptop"></i>
                <p class="experiencia-titulo">Desarrollo Web</p>
                <p>Desarrollo de sitios web creativos y funcionales, que crean experiencias que conectan con tu
                    audiencia.</p>
                <div class="badges-contenedor">
                    <span class="badge text-bg-primary">HTML</span>
                    <span class="badge text-bg-primary">CSS</span>
                    <span class="badge text-bg-primary">JavaScript</span>
                    <span class="badge text-bg-primary">React</span>
                </div>
            </div>
            <!-- Diseño Gráfico -->
            <div class="columna col-12 col-md-4">
                <i class="bi bi-laptop"></i>
                <p class="experiencia-titulo">Diseño Gráfico</p>
                <p>Creo diseños gráficos impactantes y funcionales, combinando creatividad y atención al detalle.
                </p>
                <div class="badges-contenedor">
                    <span class="badge text-bg-primary">Illustrator</span>
                    <span class="badge text-bg-primary">Photoshop</span>
                    <span class="badge text-bg-primary">InDesign</span>
                    <span class="badge text-bg-primary">Lightroom</span>
                </div>
            </div>
            <!-- Diseño 3D -->
            <div class="columna col-12 col-md-4">
                <i class="bi bi-laptop"></i>
                <p class="experiencia-titulo">Diseño 3D</p>
                <p>Creo modelos 3D realistas y detallados, combinando técnicas avanzadas de modelado y texturizado.</p>
                <div class="badges-contenedor">
                    <span class="badge text-bg-primary">ZBrush</span>
                    <span class="badge text-bg-primary">Blender</span>
                    <span class="badge text-bg-primary">Substance</span>
                    <span class="badge text-bg-primary">Unreal</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Proyectos -->
<section id="proyectos" class="proyectos-recientes seccion-oscura d-flex flex-column">
    <h2 class="seccion-titulo texto-blanco">Mis Proyectos Web</h2>
    <h3 class="seccion-descripcion">Estos son algunos de los proyectos web que he creado recientemente</h3>
    <!-- Galeria -->
    <div class="container text-center proyectos-contenedor">
        <div class="row">
            <!-- PROYECTO NEWEX -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="/images/newex02.jpg" alt="Proyecto Newex">
                    <div class="overlay">
                        <p>PROYECTO NEWEX</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com/" target="_blank" rel="noopenner noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                            <a href="https://newex.com.ar/" target="_blank" rel="noopenner noreferrer">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PROYECTO SCALEZ -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="/images/scalez.jpg" alt="Proyecto Newex">
                    <div class="overlay">
                        <p>PROYECTO SCALEZ</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com/" target="_blank" rel="noopenner noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                            <a href="https://scalez.com.ar/" target="_blank" rel="noopenner noreferrer">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PROYECTO ENERGIU -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="/images/energiu.jpg" alt="Proyecto Newex">
                    <div class="overlay">
                        <p>PROYECTO ENERGIU</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com/" target="_blank" rel="noopenner noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                            <a href="https://energiuzonanorte.com//" target="_blank" rel="noopenner noreferrer">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PROYECTO NEWEX 2 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="/images/newex01.jpg" alt="Proyecto Newex">
                    <div class="overlay">
                        <p>PROYECTO NEWEX</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com/" target="_blank" rel="noopenner noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                            <a href="https://newex.com.ar/" target="_blank" rel="noopenner noreferrer">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PROYECTO SCALEZ 2 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="/images/Untitled-1.jpg" alt="Proyecto Newex">
                    <div class="overlay">
                        <p>PROYECTO SCALEZ</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com/" target="_blank" rel="noopenner noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                            <a href="https://scalez.com.ar/" target="_blank" rel="noopenner noreferrer">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PROYECTO ENERGIU 2 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="/images/energiu02.jpg" alt="Proyecto Newex">
                    <div class="overlay">
                        <p>PROYECTO ENERGIU</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com/" target="_blank" rel="noopenner noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                            <a href="https://energiu.com/" target="_blank" rel="noopenner noreferrer">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="https://github.com/" target="_blank" rel="noopenner noreferrer">
        <button type="button" class="btn btn-info">
            Mas Proyectos Web
            <i class="bi bi-caret-right"></i>
        </button>
    </a>

</section>


<!-- SECCIÓN NOVEDADES -->
<div id="novedades" class="novedades seccion-clara">
    <h2 class="seccion-titulo-modals">NOTICIAS TECNOLÓGICAS</h2>
    <h3 class="seccion-descripcion">ENTÉRATE DE LAS NUEVAS TECNOLOGÍAS DEL MUNDO AQUÍ</h3>
    <ul class="lista-novedades">
  {{#each novedades}}
    <li class="modal-lista seccion-oscura">
      <h3>{{titulo}}</h3>
      <p>{{cuerpo}}</p>
    </li>
  {{/each}}
</ul>

</div>

<!-- MODALES  -->
{{#each novedades}}
<div class="modal fade" id="modal{{id}}" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="modalLabel{{id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel{{id}}">{{titulo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>{{subtitulo}}</h2>
                <p>{{cuerpo}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}


<!-- Modelado 3D -->
<section class="seccion-renders seccion-oscura">
    <h2>MODELADO 3D</h2>
    <div class="trabajos-slider">
        <div class="renders-slide">
            <img src="/images/chair.webp" alt="">
            <img src="/images/Cubo_esqu_005.webp" alt="">
            <img src="/images/makeup" alt="">
            <img src="/images/Euphoria" alt="">
            <img src="/images/newexBusinessCards.webp" alt="">
            <img src="/images/Nivea.webp" alt="">
            <img src="/images/Piece_002.webp" alt="">
            <img src="/images/Render_dona_3.webp" alt="">
            <img src="/images/Robot_002.webp" alt="">
            <img src="/images/3.webp" alt="">
            <img src="/images/vertex 3d.webp" alt="">
        </div>
        <div class="renders-slide">
            <img src="/images/chair.webp" alt="">
            <img src="/images/Cubo_esqu_005.webp" alt="">
            <img src="/images/makeup" alt="">
            <img src="/images/Euphoria" alt="">
            <img src="/images/newexBusinessCards.webp" alt="">
            <img src="/images/Nivea.webp" alt="">
            <img src="/images/Piece_002.webp" alt="">
            <img src="/images/Render_dona_3.webp" alt="">
            <img src="/images/Robot_002.webp" alt="">
            <img src="/images/3.webp" alt="">
            <img src="/images/vertex 3d.webp" alt="">
        </div>
        <div class="renders-slide">
            <img src="/images/chair.webp" alt="">
            <img src="/images/Cubo_esqu_005.webp" alt="">
            <img src="/images/makeup" alt="">
            <img src="/images/Euphoria" alt="">
            <img src="/images/newexBusinessCards.webp" alt="">
            <img src="/images/Nivea.webp" alt="">
            <img src="/images/Piece_002.webp" alt="">
            <img src="/images/Render_dona_3.webp" alt="">
            <img src="/images/Robot_002.webp" alt="">
            <img src="/images/3.webp" alt="">
            <img src="/images/vertex 3d.webp" alt="">
        </div>
    </div>
</section>

<!-- Testimonios -->

<section id="testimonios" class="testimonios seccion-clara">
    <h2 class="seccion-titulo">TESTIMONIOS</h2>
    <h3 class="seccion-descripcion">EXITOS COMPARTIDOS. PALABRAS DE MIS CLIENTES.</h3>

    <!-- Carrusel -->

    <div id="testimonios-carrusel" class="carousel carousel-dark slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <img class="testimonio-imagen" src="/images/socionewex.jpg"
                        alt="Imagen de Andres Fermepin de Newex SRL">
                    <p class="testimonio-texto">"Emi supo resolver los inconvenientes gráficos de nuestras aplicaciones
                        de manera
                        rápida y profesional"</p>
                    <div class="testimonio-info">
                        <p class="cliente">Andrés Fermepin</p>
                        <p class="cargo">Newex SRL - Socio Fundador</p>
                    </div>
                </div>



            </div>
            <div class="carousel-item">
                <div class="container">
                    <img class="testimonio-imagen" src="/images/socioscalez.jpg"
                        alt="Imagen de Sebastian Gianpaoletti de SCALEZ SRL">
                    <p class="testimonio-texto">"Emiliano comprendió nuestras necesidades desde un principio,
                        resolviendo
                        rápidamente nuestro diseño de marca. CRACK!"</p>
                    <div class="testimonio-info">
                        <p class="cliente">Sebastian Gianpaoletti</p>
                        <p class="cargo">SCALEZ SRL - Gerente Comercial</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <img class="testimonio-imagen" src="/images/socioenergiu2.jpg" alt="Imagen de Leonardo">
                    <p class="testimonio-texto">"Muy atento a los detalles, pendiente en todo momento de que la web sea
                        funcional, dinámica y elegante. Vamos a trabajar juntos nuevamente!!!"</p>
                    <div class="testimonio-info">
                        <p class="cliente">Leonardo Italiano</p>
                        <p class="cargo">Energiu Zona Norte - Gerente</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonios-carrusel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonios-carrusel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>


<!-- Contacto -->
<section id="contacto" class="contacto seccion-oscura">
    <div class="container">
        <div class="container text-center rectangulo d-flex justify-content-evenly">
            <div class="row">
                <div class="col-12 col-md-4 seccion-titulo">
                    Hablemos!
                </div>
                <div class="col-12 col-md-4 descripcion">
                    Contactame para comenzar tu proyecto y desarrolar tus ideas!
                </div>
                <div class="col-12 col-md-4">
                    <a href="mailto:vertex.grafica@gmail.com">
                        <button type="button">
                            Contacto
                            <i class="bi bi-envelope-at-fill"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Formulario de contacto -->
<section id="form" class="form">
    <div class="container mt-5 seccion-clara">
        <h2>Tenés alguna otra consulta?</h2>
        <h3>Contactate conmigo instantáneamente!</h3>
        <form class="formulario row g-3" action="/" method="POST">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="firstName" name="nombre" required>
            </div>
            <div class="col-md-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastName" name="apellido" required>
            </div>
            <div class="col-md-8">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="emailInfo" name="email" required>
            </div>
            <div class="col-md-4">
                <label for="tel" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="phoneNumber" placeholder="+1 (234) 567-890" name="tel">
            </div>
            <div class="col-md-12">
                <label for="comentario" class="form-label">Tu mensaje</label>
                <textarea class="form-control" id="comments" rows="4" name="mensaje" required></textarea>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>


        </form>
        {{message}}
    </div>
</section>